/* Common Shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-tittle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Overoll Color Button */
.or{
    color: #FD6E0A;
}
.primary-btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 18px 35px;
}
/* Header Releted Style */
header{
    background: #ffffff;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;


}
.banner{
    padding:  30px 30px 0px 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile{
    width: 500px;
    height: 600px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-tittle{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
/* Main Section Styles */
/* About Section Styles */
section{
    padding: 130px;
    border-right: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color:#757575 ;
}
.info-description{
    font-weight: bold;
}
/* skills related container */
.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(102, 51, 153,0.1);
}
.skill-description{
    color: #757575;
}

/* resume section styles */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-institute{
    font-size: 20px;
}
.resume-item-institute, .resume-item-description{
    color:#757575 ;
}
.resume-container hr{
    margin: 20px 50px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}


/* footer style */

footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.secial-links a{
    margin-right: 24px;
}
.contact input[type="text"], .contact input[type="email"] ,textarea{
    display:block;
    margin-bottom: 24px;
    padding: 18px 35px;
    font-size: 15px;
    border: 0;
    width: 100%;
    color: #757575;
    border-radius: 5px;
}